@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family:
        "Roboto",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

